<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.quickbuy.mapper.OrderMapper">
    <insert id="insert" parameterType="org.example.quickbuy.entity.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order` (
            order_no, user_id, activity_id, product_id, amount,
            status, create_time, update_time
        ) VALUES (
            #{orderNo}, #{userId}, #{activityId}, #{productId}, #{amount},
            #{status}, #{createTime}, #{updateTime}
        )
    </insert>
    
    <select id="selectByOrderNo" resultType="org.example.quickbuy.entity.Order">
        SELECT * FROM `order` WHERE order_no = #{orderNo}
    </select>

    <update id="updateStatus">
        UPDATE `order`
        SET status = #{status},
            update_time = CURRENT_TIMESTAMP
        WHERE order_no = #{orderNo}
    </update>

    <update id="updatePayTime">
        UPDATE `order`
        SET pay_time = #{payTime},
            update_time = CURRENT_TIMESTAMP
        WHERE order_no = #{orderNo}
    </update>

    <select id="selectTimeoutOrders" resultType="org.example.quickbuy.entity.Order">
        SELECT *
        FROM `order`
        WHERE create_time &lt;
              #{timeoutThreshold}
          AND status = #{status}
    </select>

    <update id="updateOrder">
        UPDATE `order`
        <set>
            <if test="order.userId != null">user_id = #{order.userId},</if>
            <if test="order.activityId != null">activity_id = #{order.activityId},</if>
            <if test="order.productId != null">product_id = #{order.productId},</if>
            <if test="order.amount != null">amount = #{order.amount},</if>
            <if test="order.status != null">status = #{order.status},</if>
            <if test="order.createTime != null">create_time = #{order.createTime},</if>
            update_time = CURRENT_TIMESTAMP
        </set>
        WHERE order_no = #{order.orderNo}
    </update>
</mapper> 